In [1]:
#Setup - mainly importing packages
import os
import datetime

import IPython
import IPython.display
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf

WARNING:tensorflow:From d:\anacondapython\envs\AI07_GPU\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
# Load data
url = 'https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/cases_malaysia.csv'
df = pd.read_csv(url)

#Data Inspection/Cleaning process

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1457 entries, 0 to 1456
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     1457 non-null   object
 1   cases_new                1457 non-null   int64
 2   cases_import             1457 non-null   int64
 3   cases_recovered          1457 non-null   int64
 4   cases_active             1457 non-null   int64
 5   cases_cluster            1457 non-null   int64
 6   cases_unvax              1457 non-null   int64
 7   cases_pvax               1457 non-null   int64
 8   cases_fvax               1457 non-null   int64
 9   cases_boost              1457 non-null   int64
 10  cases_child              1457 non-null   int64
 11  cases_adolescent         1457 non-null   int64
 12  cases_adult              1457 non-null   int64
 13  cases_elderly            1457 non-null   int64
 14  cases_0_4                1457 non-null   int64
 15  cases_5_11               1457 non-null   int64
 16  cases_12_17              1457 non-null   int64
 17  cases_18_29              1457 non-null   int64
 18  cases_30_39              1457 non-null   int64
 19  cases_40_49              1457 non-null   int64
 20  cases_50_59              1457 non-null   int64
 21  cases_60_69              1457 non-null   int64
 22  cases_70_79              1457 non-null   int64
 23  cases_80                 1457 non-null   int64
 24  cluster_import           1101 non-null   float64
 25  cluster_religious        1101 non-null   float64
 26  cluster_community        1101 non-null   float64
 27  cluster_highRisk         1101 non-null   float64
 28  cluster_education        1101 non-null   float64
 29  cluster_detentionCentre  1101 non-null   float64
 30  cluster_workplace        1101 non-null   float64
dtypes: float64(7), int64(23), object(1)
memory usage: 353.0+ KB

In [4]:
df.head()

,date,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_unvax,cases_pvax,cases_fvax,cases_boost,...,cases_60_69,cases_70_79,cases_80,cluster_import,cluster_religious,cluster_community,cluster_highRisk,cluster_education,cluster_detentionCentre,cluster_workplace
0,2020-01-25,4,4,0,4,0,4,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-26,0,0,0,4,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-27,0,0,0,4,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-28,0,0,0,4,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-29,3,3,0,7,0,3,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
print(df.isna().sum())

date                         0
cases_new                    0
cases_import                 0
cases_recovered              0
cases_active                 0
cases_cluster                0
cases_unvax                  0
cases_pvax                   0
cases_fvax                   0
cases_boost                  0
cases_child                  0
cases_adolescent             0
cases_adult                  0
cases_elderly                0
cases_0_4                    0
cases_5_11                   0
cases_12_17                  0
cases_18_29                  0
cases_30_39                  0
cases_40_49                  0
cases_50_59                  0
cases_60_69                  0
cases_70_79                  0
cases_80                     0
cluster_import             356
cluster_religious          356
cluster_community          356
cluster_highRisk           356
cluster_education          356
cluster_detentionCentre    356
cluster_workplace          356
dtype: int64

In [8]:
#NaN value into 0, assume no cases
df = df.fillna(0)
print(df.isna().sum())

date                       0
cases_new                  0
cases_import               0
cases_recovered            0
cases_active               0
cases_cluster              0
cases_unvax                0
cases_pvax                 0
cases_fvax                 0
cases_boost                0
cases_child                0
cases_adolescent           0
cases_adult                0
cases_elderly              0
cases_0_4                  0
cases_5_11                 0
cases_12_17                0
cases_18_29                0
cases_30_39                0
cases_40_49                0
cases_50_59                0
cases_60_69                0
cases_70_79                0
cases_80                   0
cluster_import             0
cluster_religious          0
cluster_community          0
cluster_highRisk           0
cluster_education          0
cluster_detentionCentre    0
cluster_workplace          0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1457 entries, 0 to 1456
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     1457 non-null   object
 1   cases_new                1457 non-null   int64
 2   cases_import             1457 non-null   int64
 3   cases_recovered          1457 non-null   int64
 4   cases_active             1457 non-null   int64
 5   cases_cluster            1457 non-null   int64
 6   cases_unvax              1457 non-null   int64
 7   cases_pvax               1457 non-null   int64
 8   cases_fvax               1457 non-null   int64
 9   cases_boost              1457 non-null   int64
 10  cases_child              1457 non-null   int64
 11  cases_adolescent         1457 non-null   int64
 12  cases_adult              1457 non-null   int64
 13  cases_elderly            1457 non-null   int64
 14  cases_0_4                1457 non-null   int64
 15  cases_5_11               1457 non-null   int64
 16  cases_12_17              1457 non-null   int64
 17  cases_18_29              1457 non-null   int64
 18  cases_30_39              1457 non-null   int64
 19  cases_40_49              1457 non-null   int64
 20  cases_50_59              1457 non-null   int64
 21  cases_60_69              1457 non-null   int64
 22  cases_70_79              1457 non-null   int64
 23  cases_80                 1457 non-null   int64
 24  cluster_import           1457 non-null   float64
 25  cluster_religious        1457 non-null   float64
 26  cluster_community        1457 non-null   float64
 27  cluster_highRisk         1457 non-null   float64
 28  cluster_education        1457 non-null   float64
 29  cluster_detentionCentre  1457 non-null   float64
 30  cluster_workplace        1457 non-null   float64
dtypes: float64(7), int64(23), object(1)
memory usage: 353.0+ KB

In [10]:
df.iloc[:, 1:] = df.iloc[:, 1:].astype('int64')

In [11]:
print(df.dtypes)

date                        object
cases_new                    int64
cases_import                 int64
cases_recovered              int64
cases_active                 int64
cases_cluster                int64
cases_unvax                  int64
cases_pvax                   int64
cases_fvax                   int64
cases_boost                  int64
cases_child                  int64
cases_adolescent             int64
cases_adult                  int64
cases_elderly                int64
cases_0_4                    int64
cases_5_11                   int64
cases_12_17                  int64
cases_18_29                  int64
cases_30_39                  int64
cases_40_49                  int64
cases_50_59                  int64
cases_60_69                  int64
cases_70_79                  int64
cases_80                     int64
cluster_import             float64
cluster_religious          float64
cluster_community          float64
cluster_highRisk           float64
cluster_education          float64
cluster_detentionCentre    float64
cluster_workplace          float64
dtype: object